/* Root tag */

/* global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* element selector styles body tag */
body {
    background-color: rgb(52, 52, 52);
}

/* element selector styles any p tags */
p {
    color: hotpink;
    font-size: 20px;
}

/* element selector styles any buttons */
button {
    background-color: hotpink;
    outline: none;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px 15px;
}

/* class selector styles outer-wrapper */
.outer-wrapper {
    padding: 20px;
}

/* class selector styles top bar of page */
.top-bar {
    display: flex;
    justify-content: space-between;
}

