/* Root tag css variables*/
:root {
    --padding: 20px;
}

/* global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* element selector styles body tag */
body {
    background-color: rgb(52, 52, 52);
}

/* element selector styles any p tags */
p {
    color: hotpink;
    font-size: 20px;
}

/* element selector styles any buttons */
button {
    background-color: hotpink;
    outline: none;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px 15px;
}

/* element selector styles header */
header {
    text-align: center;
    display: none;
}

/* element selector styles h1 in header */
header h1 {
    padding: var(--padding);
}

/* element selector styles p tag in header */
header p {
    padding: 5px 20px;
}

/* element selector styles button in header */
header button {
    margin: 20px;
}

/* element selector makes default main invisible */
main {
    display: none;
}

/* element selector styles all h2 elements */
h2 {
    padding: var(--padding);
}

/* element selector styles all forms */
form {
    padding: var(--padding);
}

/* element selector styles all unordered lists */
ul {
    padding-bottom: 10px;
    list-style: none;
}

/* element slector styles all list items */
li {
    padding-bottom: 15px;
}

/* class selector styles outer-wrapper */
.outer-wrapper {
    padding: var(--padding);
    height: 100%;
    
}

/* class selector styles top bar of page */
.top-bar {
    display: flex;
    justify-content: space-between;
}

/* class selector styles inner-wrapper */
.inner-wrapper, main {
    background: black;
    height: 100%;
    width: 50%;
    margin: 150px auto;
    
}

/* main quiz content */

/* question section */
.question {
    display: block;
}


/* class selector for completed-quiz screen */
.completed-quiz {
    display: none;
    text-align: center;
}

/* class selector for highscores screen */
.highscores {
    display: none;
    text-align: center;
}

.highscores button {
    margin-bottom: 20px;
}