/* Root tag css variables*/
:root {
    --padding: 20px;
}

/* global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* element selector styles body tag */
body {
    background-color: rgb(52, 52, 52);
}

/* element selector styles any p tags */
p {
    color: hotpink;
    font-size: 20px;
}

/* element selector styles any buttons */
button {
    background-color: hotpink;
    outline: none;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}

/* adds hover element to buttons */
button:hover {
    cursor: pointer;
    background-color: magenta;
}

/* element selector styles header */
header {
    text-align: center;
}

/* element selector styles h1 in header */
header h1 {
    padding: var(--padding);
}

/* element selector styles p tag in header */
header p {
    padding: 5px 20px;
}

/* element selector styles button in header */
header button {
    margin: 20px;
}

/* element selector styles all h2 elements */
h2 {
    padding: var(--padding);
    font-size: 20px;
}

/* element selector styles all forms */
form {
    padding: var(--padding);
    color: black;
}

/* element selector styles all unordered lists */
ul, ol {
    padding-bottom: 10px;
    list-style: none;
}

/* element slector styles all list items */
li {
    padding-bottom: 15px;
}

/* element selector styles all anchor tags */
a {
    text-decoration: none;
}

/* element selector styles text input */
input[type="text"] {
    font-size: 100%;
    color: black;
}

/* id selector that styles the help popup that shows if questions was answered correctly */
#grade {
    font-style: bold;
    margin: 20px;
    padding-top: 15px;
    color: #fff;
    border-top: 2px solid #ffffff;
}

/* main quiz content */
#questions {
    text-align: left;
}

/* id selector for completed-quiz screen */
#completed-quiz {
    text-align: center;
}

/* id selector for highscores screen */
#highscores {
    text-align: center;
}

/* id selector for highscores button */
#highscores button {
    margin-bottom: 20px;
}

/*  id selector styles specific start button that starts the quiz */
#start {
    display: block;
    margin: 30px auto;
}

/* id selector styles specific submit button at end of quiz */
#submit {
    display: block;
    margin: 30px auto;
}

/* class selector hides section */
.hide {
    display: none;
}

/* class selector styles outer-wrapper */
.outer-wrapper {
    padding: var(--padding);
    height: 100%;
    
}

/* class selector styles top bar of page */
.top-bar {
    display: flex;
    justify-content: space-between;
}

/* class selector styles inner-wrapper */
.inner-wrapper {
    background: black;
    height: 100%;
    width: 50%;
    margin: 150px auto;
    padding-bottom: 10px;
    
}

